 /*定义宽度和背景*/
 body {     margin:0;
            padding:0;
            background:url(bg.jpg) no-repeat;
            text-align: center;
             width:375px;
            height:667px;
        }
/*提示栏的样式*/
.title {
            
            color:#00FFFF;
            text-align: center;
        }
/*定义单选按钮的样式*/
input[type="radio"]+label::before{content:'\a0';
            display:inline-block;
            vertical-align: .2em;
            width: 1em;
            height: 1em;
            margin-right: .2em;
            border-radius: .5em;
            background: black;
            text-indent: .15em;
            line-height: .65em;
       
}
input[type="radio"]:checked+label::before
{
            content:'\2713';
            background:#00FFFF;

}
input[type="radio"]{position: absolute;clip:rect(0,0,0,0);}
input[type="radio"]:focus+label::before{box-shadow:0 0 .1em .1em #58a;}
input[type="radio"]:disabled+label::before{background: gray;box-shadow: none;color: #555;}
label{color:white;}